.App {
  text-align: center;
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    .title {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 20px;
      img {
        width: 120px;
      }
    }
    .navbar {
      display: flex;
      justify-content: flex-end;
    }
  }
}
